.contenedor-formulario {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px auto 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.contenedor-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    position: relative;
}

.contenedor-input input {
    padding: 15px;
    border: none;
    outline: none;
    border-bottom: #3483fa solid 1px;
    font-size: 16px;
    transition: border-bottom 0.3s ease;
}

.contenedor-input input:active,
.contenedor-input input:focus {
    border-bottom: blue solid 2px;
}

.contenedor-input label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    margin-left: 16px;
    line-height: 16px;
    color: #3483fa;
    transition: all 0.3s ease;
}

.contenedor-input input:focus+label,
.contenedor-input input:active+label,
.contenedor-input input:valid+label {
    top: -12px;
    font-size: 12px;
    line-height: 12px;
    color: blue;
    margin-left: 0px;
}

.contenedor-formulario button {
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-color: transparent;
    background-color: green;

}

.contenedor-formulario button:hover {
    background-color: #0022AA;
}

@media (min-width: 425px) {
    .contenedor-formulario {
        width: 90%;
    }
}


@media (min-width: 768px) {
    .contenedor-formulario {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .contenedor-formulario {
        width: 40%;
    }
}