.contenedor-formulario {
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px auto 15px;
    border-radius: 3%;
    background-color: white;
    width: 90%;

}

.container-botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4px;
    padding: 6px;
}

.container-botones button {
    padding: 12px;
    border-radius: 8%;
    background-color: #3483fa;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-color: transparent;

}


@media (min-width: 768px) {
    .contenedor-formulario {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .contenedor-formulario {
        width: 40%;
    }
}