* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --AMARILLO: #EAC926;
    --AZUL: #03264C;
    --CELESTE: #1259c3;
    --GRIS-OSCURO: #666;
    --GRIS-CLARO: #ebebeb;
    --VERDE: #39b54a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: var(--GRIS-CLARO);
}

.main-header {
    background-color: var(--AMARILLO);
    height: 9rem;
}

.main-header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-logo-searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 8px;
}

.search-bar input {
    border: none;
    padding: 7px;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
}

.search-bar button {
    border: none;
    padding: 7px;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    color: var(--GRIS-OSCURO);
}

.compra {
    text-align: center;
    padding: 15px 0px;
}

.main-header-nav-bar {
    display: none;
}

.burger-menu {
    margin: auto;
    width: 2.3rem;
    color: white;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--CELESTE);
    font-size: large;
    text-align: center;
}

main {
    background-color: var(--GRIS-CLARO);
    width: 90%;
    margin: auto;
}

footer {
    font-size: 16px;
    /*agregado por mi*/
    color: var(--GRIS-OSCURO);
    padding: 20px;
    background-color: white;
}

footer article {
    text-align: center;
    padding: 40px;
    margin: 8px;
}

.footer-titulares {
    font-weight: 400;
}

footer article i {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: var(--CELESTE);
}

@media (min-width: 768px) {

    .main-header {
        height: 6.5rem;
    }

    .main-header-top {
        flex-wrap: nowrap;
    }

    .compra {
        text-align: left;
    }

    .main-header-nav-bar {
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }

    .main-header-nav-bar ul {
        list-style-type: none;
        display: flex;
    }

    .main-header-nav-bar li {
        padding: 5px;
        margin: 0px 5px;
        font-size: 14px;
    }

    .main-header-nav-bar a {
        text-decoration: none;
        color: #000;
    }

    .burger-menu {
        display: none;
    }

}

@media (min-width: 1024px) {

    .main-header {
        height: 7.5rem;
    }

    .main-header-top {
        justify-content: space-around;
    }

    .contenedor-logo-searchBar {
        width: 645px;
    }

    .main-header-nav-bar li {
        font-size: 1rem;
        padding: 10px;
    }

    .footer-textos {
        display: flex;
    }

    footer {
        font-size: 0.67rem;
    }

    footer article {
        padding: 5px 5px 20px 5px;
        margin: 4px;
    }

    footer article i {

        transition: all ease-in-out 500ms;
    }

    footer article i:hover {

        color: var(--VERDE);
        font-size: 3em;

    }

}