* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --AMARILLO: #EAC926;
    --AZUL: #03264C;
    --CELESTE: #1259c3;
    --GRIS-OSCURO: #666;
    --GRIS-CLARO: #ebebeb;
    --VERDE: #39b54a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.main-header {
    background-color: var(--AMARILLO);
}

.main-header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    width: 50%;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.compra {
    text-align: center;
}

.home-banner {
    max-width: 100%;
}

.home-banner img {
    max-width: 100%;
}

.main-header-nav-bar {
    display: none;
}

.burger-menu {
    margin: auto;
    width: 2.3rem;
    color: white;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--CELESTE);
    font-size: large;
    text-align: center;
}

main {
    background-color: var(--GRIS-CLARO);
    width: 90%;
    margin: auto;
}

.titulos {
    font-size: 24px;
    color: var(--GRIS-OSCURO);
    text-align: left;
    padding: 15px;
}

.section-last-view,
.section-ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    margin: 10px;
    /*Entre cada artículo hay una separación de 10 píxeles*/
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto-descripcion {
    border-top: solid 1px var(--GRIS-CLARO);
    padding: 15px;
    text-align: left;
    border: solid 2px black;
    position: relative;
}

.producto-descripcion h3 {
    display: none;
}

.logo-envio {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--VERDE);
    color: var(--VERDE);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precio,
.descuento {
    display: inline-block;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
    color: var(--VERDE);
}

footer {
    font-size: 16px;
    color: var(--GRIS-OSCURO);
    padding: 20px;
}

footer article {
    text-align: center;
    padding: 40px;
    margin: 8px;
}

.footer-titulares {
    font-weight: 400;
}

footer article i {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: var(--CELESTE);
}

@media (min-width: 770px) {

    .main-header-top {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .compra {
        text-align: inherit;
    }

    .main-header-nav-bar {
        display: flex;
        border: dotted 5px blue;
    }

    .main-header-nav-bar ul {
        list-style-type: none;
    }

    .main-header-nav-bar a {
        text-decoration: none;
        color: #000;
    }

    .main-header-nav-bar a::hover {
        color: #340bec;
    }

    .burger-menu {
        display: none;
    }

    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .producto-descripcion h3 {
        display: block;
    }

    .section-last-view,
    .section-ofertas {
        flex-wrap: nowrap;
    }

    .producto-descripcion h3 {
        display: block;
    }

}